<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PSSettingsTableCell</string>
            <key>label</key>
            <string>YTLiteSkipSilence</string>
            <key>isController</key>
            <true/>
            <key>bundle</key>
            <string>YTLiteSkipSilenceSettings</string>
            <key>bundleIdentifier</key>
            <string>com.ytlite.skipsilence.preferences</string>
        </dict>
    </array>
</dict>
</plist>
